<div>
    <dx-polar-chart id="chart" [useSpiderWeb]="true" title="Programming Languages from Github Users"
        [dataSource]="languageData">
        <!-- *ngFor Users  -->
        <dxi-series valueField="java" name="Java"></dxi-series>
        <dxi-series valueField="python" name="Python"></dxi-series>
        <dxi-series valueField="lemons" name="Lemons"></dxi-series>
        <dxi-series valueField="oranges" name="Oranges"></dxi-series>
        <dxo-common-series-settings type="line"></dxo-common-series-settings>
        <dxo-tooltip [enabled]="true"></dxo-tooltip>
    </dx-polar-chart>
</div>