<div class="welcome">
    <h2>Welcome to Hacktoberfest 2020</h2>
    <div class="text-container">
        <p>Every year Digital Ocean hosts an awesome Hackathon for Github users to learn to collaborate and contribute
            to
            open source projects</p>
        <p>In the spirit of this I have created a first time project for new and old users to help them get their first
            PR
            of the Season</p>
        <p>This project features Github users and their prefered languages in a visual graph, this will program will ask
            for
            your Github username and your programming language preferences</p>
        <p>In order to participate in hacktoberfest you will need to make 4 Pull Requests in
            opensource projects throughout Github.</p>
        <p>In order to make a vaild pull request in this project follow the documentation
            inside the README of this repo </p>
        <p>This project can help with your goals this year by adding yourself to the list of users who have added their
            language preferences</p>
        <p>Happy Hacking! </p>
    </div>
    <a routerLink="/login">Get Started</a>
</div>