@import "src/styles";

* {
    display: flex;
    flex-direction: column;
}

.welcome {
    margin: 35px;
    align-items: center;
    min-height: calc(100vh - 70px);

    h2 {
        margin: 15px;
        font-size: 2.5em;
        color: $hack-TitleColor;
        font-family: 'Quicksand', serif;
    }

    .text-container {
        width: 45%;
        p {
            color: $hack-TextColor;
            font-family: 'Quicksand', serif;
            font-size: 16px;
            padding: 5px;
            text-align: str-length($string: "500");
        }

        a .documentation {
            font-family: 'Quicksand', serif;
            font-size: 16px;
            color: #ff8ae2;
        }
    }
        a {
            font-family: 'Quicksand', serif;
            margin: 15px;
            font-size: 1.5em;
            color: #ff8ae2;
        }

}

