<div>
    <h2>Welcome to Hacktoberfest 2020</h2>
    <p>Every year Digital Ocean hosts an awesome Hackathon for Github users to learn to collaborate and contribute to
        open source projects</p>
    <p>In the spirit of this I have created a first time project for new and old users to help them get their first PR
        of the Season</p>
    <p>This project features Github users and their prefered languages in a visual graph</p>
    <p>In order to participate on this project and in hacktoberfest you will need to make a PR in this project and add
        yourself to the list</p>
    <a routerLink="/login">Get Started</a>

</div>