<div class="welcome">
    <h2>Welcome to Hacktoberfest 2021</h2>
    <div class="text-container">
        <p>Every year Digital Ocean hosts an awesome Hackathon for Github users to learn to collaborate and contribute
            to open source projects.</p>

        <p>In the spirit of Hacktoberfest, I have created a first time project for new
            and old users to assist them in achieving their quota of Pull Requests (PRs) this Hacktoberfest.</p>

        <p>This project features Github users and their experience in each language in a visual graph, this will program will ask
            for your Github username and your programming language experience.</p>

        <p>In order to participate in hacktoberfest you will need to make a total of 4 PRs in
            opensource projects throughout Github.</p>

        <p>In order to make a valid pull request in this project follow the documentation
            inside the README of this repo.</p>

        <p>This project can help with your goals this year by adding yourself to the list of users who have added their
            language preferences.</p>

        <div style="text-align: center;font-weight: bold;"><br/><p>Happy Hacking!</p></div>
    </div>
    <a routerLink="/login">Get Started</a>
</div>
