@import "src/styles";

* {
    background-color: $hack-Background;
}

.header-container {
    display: flex;
    justify-content: space-around;
    padding: 2rem;//25px;

    img {
        border-radius: 50%;
    }

    h1 {
        font-size: 3em;
        text-align: center;
        padding: 2rem;//50px;
        margin-left: -20px;

        a {
            text-decoration: none;
            color: $hack-TitleColor;
        }
    }
}
