* {
    background-color: #93c2db;
}

.header-container {
    display: flex;
    justify-content: space-around;
    padding: 25px;

    img {
        border-radius: 50%;
    }

    h1 {
        font-size: 3em;
        text-align: center;
        padding: 50px;
        margin-left: -20px;
    
        a {
            text-decoration: none;
            color: #d318a5;
        }
    }
}
