<!-- (ngSubmit)="onSubmit() -->
<div class="find-user" *ngIf="searchUser">
    <form #username="ngForm" class="user-form" (ngSubmit)="findUser(username.value)">
        <p class="PressStart">Github Username</p>
        <input type="text" class="PressStart" placeholder="username" name="username" ngModel>
        <input type="submit" value="Search">
    </form>
</div>
<div class="found-user" *ngIf="foundUser">
    <form class="user-form">
        <p class="PressStart">Is This Your Username?</p>
        <!--  Github Image -->
        <div class="github-avatar">
            <img [src]="heroimage" alt="github avatar image">

            <!-- Display Bounded Username -->
            <p class="PressStart">{{username}}</p>
            <input type="submit" value="Yes" class="confirmation-button">
            <input type="submit" value="No" class="confirmation-button">
        </div>
    </form>
</div>