$font-color:#f3f3f3;
$button-color: #d318a5;
$button-color-hover: #f786db;
$button-text-hover:  rgb(16, 10, 10);

.find-user {
    border-radius: 25px;
    
    .user-form {
        display: flex;
        flex-direction: column;
        
        align-items: center; 
        padding: 60px;
        border-radius: 10px;
        margin: 100px 25px;
    
        p {
            text-align: center;
            font-size: 1.5em;
            padding: 15px;
            color: $font-color;
        }
    
        input[type="text"] {
            text-align: center;
            padding: 8px;
            margin: 20px;
            width: 255px;
            background-color: $font-color;
            border-radius: 15px;
            border: none;
        }
    
        input[type="submit"] {
            background-color: $button-color;
            border: none;
            border-radius: 15px;
            width: 125px;
            padding: 10px;
            font-weight: bold; 
            color: $font-color;
            
            &:hover {
                color:$button-text-hover;
                background-color: $button-color-hover;
            }
        }
    }
}


.found-user {
    border-radius: 25px;

    .user-form {
        display: flex;
        flex-direction: column;
        align-items: center; 
        padding: 50px;
        border-radius: 10px;
        margin: 100px 25px;
        text-align: center;
        
        p {
            font-size: 25px;
            color: $font-color;
        }

        .github-avatar{ 


            img {
                border-radius: 50%;
                height: 300px;
                width: 300px;

                padding: 2.5em;
            }

            .found-name {
                font-size: 20px;
            }
            
            button {
                    align-items: center;
                    flex-direction: row;
                    background-color: #5ebf4b;
                    border: none;
                    border-radius: 15px;
                    width: 70px;
                    margin: 25px 5px 15px;
                    padding: 10px;
                    font-weight: bold; 
                    color: #f3f3f3;
                    
                    &:hover {
                        background-color: #3fd87c;
                    }
                    &:last-of-type {
                        align-items: center;
                        flex-direction: row;
                        background-color: $button-color;
                        border: none;
                        border-radius: 15px;
                        width: 70px;
                        margin: 25px 5px 15px;
                        padding: 10px;
                        font-weight: bold; 
                        color: #f3f3f3;
                        
                        &:hover {
                            color: $button-text-hover;
                            background-color: $button-color-hover;
                        }
                    }
                }
            }
                        
                    
        }
    }

.question-user{
    border-radius: 25px;

    .language-form {
        display: flex;
        flex-direction: column;
        align-items: center; 
        padding: 50px;
        border-radius: 10px;
        margin: 100px 25px;
        text-align: center;
        

        .header-text {
            font-size: 20px;
            padding: 25px;
            color: $font-color;
        }

        form {
                
            p {
                font-family: 'Quicksand';
                padding: 5px;
                font-weight: 200;
                color: $font-color;
            }

            .confirm-languages {
                background-color: $button-color;
                border: none;
                border-radius: 15px;
                width: 70px;
                margin: 25px 5px 15px;
                padding: 10px;
                font-weight: bold; 
                color: #f3f3f3;

                &:hover {
                    
                     background-color: $button-color-hover;
                }
            }
        }
    }
}

* {
    background-color: #183d5d;
}